*{
    transition: all .5s;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
    
}
body{
    background: linear-gradient(-45deg, #ee7752, #e7e43c, #23a6d5, #23d5ab );
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 400% 400%;
    min-height: 100vh;
    
    animation:self 15s ease infinite ;
}
@keyframes self {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.calculator{
    position: relative;
   display: grid;
}
.value{
    background-color: rgb(255, 255, 255,.4);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 1px 10px black;
    grid-column: 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    width: 240px;
    margin-left: -180px;
    font-size: 18px;
}
span{
    display: grid;
    box-shadow: 1px 1px 5px black;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #0c2835;
    cursor: pointer;
    place-items: center;
    border: 2px solid rgba(0,0,0,.1);
}
span:hover{
    background-color: #fff;
    transition: .3s;
    color: black;
}
span:active{
    background-color: #74ff3b;
    color: #111;
}
.clear{
    grid-column: span 2;
    width: 120px;
    background-color: #ff3077;
}
.plus{
    grid-row: span 2 ;
    height: 120px;
}
.epual{
    background-color: #03b1ff;
}